.checkbox input {
  display: none;
}

.checkbox span {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background: #6A2BD9;
  display: inline-block;
  position: relative;
}

.checkbox span::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}
